<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css" />
    <script src="static/js/signin.js"></script>
    <title> Sign Up</title>
    <meta name="description" content="useless signin.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="ilovedivs">
    <h1 class="blackmagic">a</h1>
    <div class="bigbox">
   

  <div class="overlaysign" id="thingymabobby">


  </div>

      <form method="POST" action="/signup.html">
        <span class="loginleft">
          <div class="signtextbox">
            <input
              type="text"
              class="signuptext"
              placeholder="Username"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="signtextbox">
            <input
              type="password"
              class="signuptext"
              placeholder="Password"
              id="password"
              name="password"
              required
            />
          </div>
        </span>
        <span class="loginright">
          <button class="buttonss" id="submitlogin" type="submit">
            <h1 class="titletext">Login</h1>
          </button>
          <span class="buttonright">
            <a href="signupp.html">
              <div class="buttonss">
                <h1 class="miniishtext">Sign Up Instead</h1>
              </div>
            </a>
          </span>
        </span>
      </form>
      <span class="signuprightbox">
        <span class="imageleft">
          <picture>
            <source srcset="static/images/logo.webp" type="image/webp">
            <img src="static/images/logo.png" class="logo" alt="logo" fetchpriority="high">
          </picture>
        </span>
      </span>
      <a id="info">
        <div class="infobutton">
          <img src="static/images/info.png" class="infobuttonb" alt="infobutton"/>
          </div>
        </a>


  </div>
</body>
</html>